# --- Bittensor ---
BITTENSOR_WALLET_PATH=path/to/your/wallet

# --- Chutes ---
CHUTES_USERNAME=your-username
CHUTES_API_KEY=cpk_xxx.yyy.zzz

# --- HuggingFace ---
HUGGINGFACE_USERNAME=xxx
HUGGINGFACE_API_KEY=xxx

# --- Cloudflare ---
R2_ACCOUNT_ID=xxx
R2_WRITE_ACCESS_KEY_ID=xxx
R2_WRITE_SECRET_ACCESS_KEY=xxx
R2_BUCKET=xxx

# --- ScoreVision ---
SCOREVISION_API=http...

# --- Signer ---
SIGNER_SEED=xx