#!/usr/bin/env python3

{{ schema_defs }}

{{ setup_utils }}

{{ load_utils }}

{{ predict_utils }}

from typing import Any

chute = init_chute(
    username="{{ chute_user }}",
    name="{{ chute_name }}",
)

@chute.on_startup()
async def load_model(self):    
    self.model = _load_model(
        repo_name="{{ repo_name }}", 
        revision="{{ revision }}", 
    )
    print(f"GOT THIS MODEL: {self.model=}")

@chute.cord(public_api_path="/health", public_api_method="GET")
async def health(self, *args, **kwargs) -> dict[str, Any]:
    return _health(
        model=self.model, 
        repo_name="{{ chute_name }}", 
    )


@chute.cord(
    public_api_path="/{{ predict_endpoint }}",
)
async def predict(self, data: SVPredictInput) -> dict:
    return _predict(
        model=self.model,
        data=data, 
        model_name= "{{ chute_name }}", 
    ).model_dump(mode="json")
